<div class="general">
  <div class="nav-bar">
    <ul>
      <li class="nav-logo"><%= link_to root_path do%><%= image_tag "Pro Ton Logo 2", class: "home_logo"%><%end %></li>
      <li class="nav-li"><%= link_to 'About me', about_path%></li>
      <li class="nav-li"><%= link_to 'Projects', project_path%></li>
    </ul>
    <%= link_to root_path do %>
      <%= image_tag "photo_info.JPG", class: "profile-picture-pages" %>
      <span class="hello">Let's work!</span>
    <% end %>
    <%= link_to root_path do %>
      <%= image_tag "photo_info.JPG", class: "profile-picture-small" %>
    <% end %>
  </div>
  <div class="general2">
    <div class="general-info">
      <div class="programing">
        <h4>PROGRAMING KNOWLEDGE</h4>
        <br>
        <div class="programing-icons">
          <div>
            <%= image_tag "ruby-icon.png", class: "medium-icon" %>
            <%= image_tag "javascript-icon.png", class: "medium-icon" %>
          </div>
          <div>
            <%= image_tag "html5-icon.png", class: "medium-icon" %>
            <%= image_tag "css3-icon.png", class: "medium-icon" %>
            <%= image_tag "postgresql-icon.png", class: "medium-icon" %>
          </div>
          <div>
            <%= image_tag "rails-icon.png", class: "medium-icon" %>
            <%= image_tag "figma-icon.png", class: "medium-icon" %>
          </div>
      </div>
      </div>
      <h4>SOFTWARE</h4>
      <br>
      <div class="skill">
        <div class="skill-name">Microsoft 365</div>
        <div class="original-bar">
        <div class="loading-bar"></div>
        </div>
      </div>

      <div class="skill">
        <div class="skill-name">Odoo</div>
        <div class="original-bar">
          <div class="loading-bar-75"></div>
        </div>
      </div>

      <div class="skill">
        <div class="skill-name">Zendesk</div>
        <div class="original-bar">
        <div class="loading-bar"></div>
        </div>
      </div>

      <div class="skill">
        <div class="skill-name">Adobe illustrator</div>
        <div class="original-bar">
        <div class="loading-bar-80"></div>
        </div>
      </div>

      <div class="skill">
        <div class="skill-name">Salesforce</div>
        <div class="original-bar">
        <div class="loading-bar"></div>
        </div>
      </div>

      <div class="skill">
        <div class="skill-name">Visual Studio Code</div>
        <div class="original-bar">
        <div class="loading-bar-80"></div>
        </div>
      </div>

      <div class="skill">
        <div class="skill-name">Logosoft</div>
        <div class="original-bar">
        <div class="loading-bar"></div>
        </div>
      </div>
    </div>
    <div class="general-edu">
      <h4>Work Experience</h4>
      <br>
      <ul>
        <h3>IT SPECIALIST / IT PROJECT COORDINATOR</h3>
        <li>EXPERTEL - Canada</li>
        <div class="information">
        </div>
        <li>APR 2023 - OCT 2023 </li>
        <li class="dash"></li>
        <br>
        <h3>SOFTWARE IMPLEMENTATION ENGINEER</h3>
        <li>SISTEMAS EN LINEA (Odoo Partner)</li>
        <div class="information">
          <li>- Create demos for companies according to their needs in Odoo</li>
          <li>- Implement Odoo in a company with their real database</li>
          <li>- Capacitate the IT of a company to the usage of Odoo</li>
        </div>
        <li>NOV 2022 - APR 2023</li>
        <li class="dash"></li>
        <br>
        <h3>PRIME BACKOFFICE AGENT / PROJECT COORDINATOR</h3>
        <li>TELUS INTERNATIONAL</li>
        <div class="information">
          <li>- Customer service representative on the sales department.</li>
          <li>- Organize,coordinate, check processes and back office support remotely</li>
          <li>  for social responsibility project “Mobility For Good” based in Canada.</li>
        </div>
        <li>MARCH 2019 - APR 2022</li>
        <li class="dash"></li>
        <br>
        <h3>OWNER / PARTNER / PRODUCTION MANAGER</h3>
        <li>SHAPE LAB</li>
        <div class="information">
          <li>- Supervise production, storage, quality and laser programing.</li>
          <li>- Supervise fabrication, pricing and marketing of products.</li>
          <li>- Customer support and consulting during projects.</li>
        </div>
        <li>JAN 2017 - APR 2022</li>
        <li class="dash"></li>
        <br>
        <h3>PRODUCTION MANAGER</h3>
        <li>PRODINA/LASERTEC</li>
        <div class="information">
          <li>- Supervise production, storage, quality and laser programing.</li>
          <li>- Implement process improvement in product fabrication.</li>
          <li>- Customer support and consulting during projects.</li>
        </div>
        <li>JAN 2016 - DEC 2016</li>
        <li class="dash"></li>
        <br>
        <h3>JUNIOR ENGINEER INTERNSHIP</h3>
        <li>ERDE AUTOMATION</li>
        <div class="information">
          <li>- LOGO! Diagnost and programming.</li>
          <li>- PLC diagnost and programming with electronic sensors.</li>
          <li>- SCADA projects implementation, electric instrument installation and process improvement for companies.</li>
        </div>
        <li>MAY 2015 - SEP 2015</li>
      </ul>
    </div>
  </div>
</div>
