<div class="general">
  <div class="nav-bar">
    <ul>
      <li class="nav-logo"><%= link_to root_path do%><%= image_tag "Pro Ton Logo 2", class: "home_logo"%><%end %></li>
      <li class="nav-li"><%= link_to 'Work Experience', experience_path%></li>
      <li class="nav-li"><%= link_to 'Projects', project_path%></li>
    </ul>
    <%= link_to root_path do %>
      <%= image_tag "photo_info.JPG", class: "profile-picture-pages" %>
      <span class="hello">Hello!</span>
    <% end %>
    <%= link_to root_path do %>
      <%= image_tag "photo_info.JPG", class: "profile-picture-small" %>
    <% end %>
  </div>
  <div class="speach">
    <h3>I'm a Mechatronic Engineer and a Full Stack Developer with a passion for Design and a proven ability to adapt swiftly to new challenges. Recognized as a problem solver, my strong sense of responsibility empowers me to take ownership of setbacks, driving a continuous pursuit of learning and professional/personal growth.</h3>
  </div>
  <div class="general2">
    <div class="general-info">
      <h4>About me</h4>
      <br>
      <ul>
        <li><i class="material-symbols-outlined"> person_raised_hand </i>Jose Antonio Aguilar Miranda</li>
        <li><i class="material-symbols-outlined"> stream_apps </i>+503 7748 3164</li>
        <li><i class="material-symbols-outlined"> email </i>Jose.aguilar.miranda@gmail.com</li>
        <li><i class="material-symbols-outlined"> cake </i>01 October 1992</li>
        <li><%= image_tag "linkedin.png", class: "small-icon" %>jose-aguilar92</li>
        <li><%= image_tag "github.png", class: "small-icon" %>Tonyaguilar10</li>
      </ul>
      <h4>Languages</h4>
      <div class="skill">
        <div class="skill-name">Spanish</div>
        <div class="original-bar">
        <div class="loading-bar"></div>
        </div>
      </div>

      <div class="skill">
        <div class="skill-name">English</div>
        <div class="original-bar">
          <div class="loading-bar"></div>
        </div>
      </div>

      <div class="skill">
        <div class="skill-name">French</div>
        <div class="original-bar">
        <div class="loading-bar-50"></div>
        </div>
      </div>

      <div class="skill">
        <div class="skill-name">Sign language</div>
        <div class="original-bar">
        <div class="loading-bar-50"></div>
        </div>
      </div>

      <h4>Skills</h4>
      <div class="skill">
        <div class="skill-name">Leadership</div>
        <div class="original-bar">
        <div class="loading-bar-90"></div>
        </div>
      </div>

      <div class="skill">
        <div class="skill-name">Strategic Planning</div>
        <div class="original-bar">
          <div class="loading-bar-75"></div>
        </div>
      </div>

      <div class="skill">
        <div class="skill-name">Process Improvement</div>
        <div class="original-bar">
        <div class="loading-bar-80"></div>
        </div>
      </div>

      <div class="skill">
        <div class="skill-name">Communication Skills</div>
        <div class="original-bar">
        <div class="loading-bar-90"></div>
        </div>
      </div>

      <div class="skill">
        <div class="skill-name">Creativity</div>
        <div class="original-bar">
        <div class="loading-bar"></div>
        </div>
      </div>
    </div>
    <div class="general-edu">
      <h4>My Education</h4>
      <br>
      <ul>
        <h3>FULL STACK WEB DEVELOPMENT</h3>
        <li>Le Wagon - Brussels</li>
        <li>APR 2022 - JUN 2022 </li>
        <li class="dash"></li>
        <br>
        <h3>QUALITY CONTROL IN MANUFACTURING PROCESSES</h3>
        <li>UNIVERSIDAD DON BOSCO</li>
        <li>DEC 2015 - APR 2016 </li>
        <li class="dash"></li>
        <br>
        <h3>INDUSTRIAL DESIGN AND DIGITAL FABRICATION</h3>
        <li>UNIVERSIDAD DON BOSCO/ Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ)</li>
        <li>DEC 2014 - NOV 2015</li>
        <li class="dash"></li>
        <br>
        <h3>B.ENG. MECHATRONIC ENGINEER</h3>
        <li>UNIVERSIDAD DON BOSCO</li>
        <li>JAN 2011 - NOV 2015</li>
        <li class="dash"></li>
        <br>
        <h3>B.TECH.ELECTRONIC</h3>
        <li>INSTITUTO TÉCNICO EMILIANI</li>
        <li>JAN 2008 - NOV 2010</li>
      </ul>
    </div>
  </div>
</div>
